<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.richsoap.lostandfound">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter> </activity>

        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnswerActivity"
            android:label="@string/title_activity_answer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DebugActivity.NetworkTestActivity"
            android:label="@string/title_activity_network_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DebugActivity.SetServerActivity"
            android:label="@string/title_activity_set_server"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ObjectQRActivity"
            android:label="@string/title_activity_item_qr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DebugActivity.AdduserActivity"
            android:label="@string/title_activity_adduser"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>